appdirs==1.4.3
asn1crypto==1.2.0
attrs==19.3.0
certifi==2019.9.11
cffi==1.13.0
chardet==3.0.4
conda==4.7.12
conda-package-handling==1.6.0
cryptography==2.8
cycler==0.10.0
distlib==0.3.0
filelock==3.0.12
idna==2.8
importlib-metadata==1.4.0
joblib==0.14.1
kiwisolver==1.1.0
matplotlib==3.1.2
more-itertools==8.1.0
numpy==1.18.1
packaging==20.1
pandas==1.0.0
pluggy==0.13.1
py==1.8.1
pycosat==0.6.3
pycparser==2.19
PyJWT==1.7.1
pyOpenSSL==19.0.0
pyparsing==2.4.6
PySocks==1.7.1
pytest==5.3.4
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
ruamel-yaml==0.15.46
scikit-learn==0.22.1
scipy==1.4.1
six==1.12.0
sklearn==0.0
tqdm==4.36.1
twilio==6.45.1
urllib3==1.24.2
virtualenv==20.0.7
wcwidth==0.1.8
zipp==2.1.0
